name: TestDeployment1

control-plane: {}

default-service: dummy_workflow

services:
  test-workflow:
    name: Test Workflow
    port: 8002
    host: localhost
    source:
      type: git
      name: https://github.com/run-llama/llama_deploy.git
    path: e2e_tests/apiserver/deployments/src:my_workflow
