llama-deploy[rabbitmq, kafka, redis]==0.1.1
llama-index-postprocessor-rankgpt-rerank>=0.2.0
llama-index-vector-stores-qdrant>=0.3.0
llama-index-llms-openai>=0.2.2
llama-index-embeddings-openai>=0.2.4
llama-index-readers-file>=0.2.0
